inputs_def:
  - handle: image_paths
    description: "%image-files-to-convert-to-pdf%"
    json_schema:
      type: array
      items:
        type: string
        ui:widget: file
    value:
      []
  - handle: pdf_file_path
    description: "%output-pdf-file-path%"
    json_schema:
      type: string
      ui:widget: save
      ui:options:
        excludeAll: true
        filters:
          - name: pdf
            extensions:
              - pdf
    value:
    nullable: true
  - handle: title
    description: "%pdf-document-title%"
    json_schema:
      type: string
    value:
    nullable: true
  - handle: author
    description: "%pdf-document-author%"
    json_schema:
      type: string
    value:
    nullable: true
outputs_def:
  - handle: pdf_file_path
    description: Generated PDF file path
    json_schema:
      type: string
      ui:widget: save
icon: ":carbon:document-pdf:"
ui:
  default_width: 419.64686341410464
executor:
  name: python
  options:
    spawn: false
    entry: __init__.py
title: "%images-to-pdf%"
description: "%convert-multiple-image-files-into-a-single-pdf-document%"
