inputs_def:
  - handle: pdf_path
    description: "%input-pdf-file-to-convert-to-images%"
    json_schema:
      type: string
      ui:widget: file
  - handle: image_dir
    description: "%output-directory-for-image-files%"
    json_schema:
      type: string
      ui:widget: dir
    value:
    nullable: true
outputs_def:
  - handle: image_dir
    description: "%directory-containing-converted-image-files%"
    json_schema:
      type: string
      ui:widget: dir
ui:
  default_width: 450
executor:
  name: python
  options:
    spawn: false
    entry: __init__.py
title: "%pdf-to-images%"
icon: ":carbon:image:"
description: "%convert-pdf-pages-to-individual-image-files%"
